@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&display=swap");
html {
  background-color: #b2ebf2;
  background: linear-gradient(90deg, #b2ebf2 0%, #00bcd4 100%); }

.navbar {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border: 0.5rem;
  background-color: #9ce5ee;
  background: linear-gradient(90deg, #9ce5ee 0%, #0097a7 100%); }
  .navbar-toggle {
    background-color: #0097a7; }
  @media screen and (max-width: 500px) {
    .navbar #nav {
      visibility: hidden; } }
  .navbar #nav #nav-home {
    background-color: #009cac;
    font-size: 1.5rem; }
  .navbar #nav #nav-btnBuscar {
    background-color: #00a9bb;
    font-size: 1.2rem; }

#div {
  background-color: #b2ebf2;
  background: linear-gradient(90deg, #b2ebf2 0%, #009688 100%);
  padding-top: 4;
  padding-bottom: 4;
  padding-right: 4;
  padding-left: 4; }
  #div-DeArriba {
    background-color: #00bcd4;
    background: linear-gradient(90deg, #00bcd4 0%, #757575 100%);
    font-family: "Montserrat"; }
  #div-DeAbajo {
    background-color: #757575;
    background: linear-gradient(90deg, #757575 0%, #009688 100%); }

ul {
  background-color: #b2ebf2;
  background: linear-gradient(90deg, #b2ebf2 0%, #009688 100%); }

.card {
  background-color: #b2ebf2;
  background: linear-gradient(90deg, #b2ebf2 0%, #009688 100%); }

footer {
  background-color: #9ce5ee;
  background: linear-gradient(90deg, #9ce5ee 0%, #009688 100%); }
