//Variables

$primary-color-dark: #0097a7;
$primary-color: #00bcd4;
$primary-color-light: #b2ebf2;
$primary-color-text: #ffffff;
$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$border-bottom-color: lighten($secondary-text-color, 5%);
$border-radius: 0.5rem;
$body-bg: White;
$font-size-base: 1.2rem;
$font-size-lg: ($font-size-base * 1.25);
$padding-x: 0.5rem;
$padding-y: 0.5rem;
